/* GLOBAL */
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e5bff;
  padding: 18px 25px;
  color: white;
  font-size: 22px;
}

.logo {
  font-weight: 600;
}

#search {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}
button {
  background: var(--primary);
  color: white;
}

.logout-btn {
  margin-left: 10px;
  background: #ff4747;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* FILTER BUTTONS */
.filters {
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.filters button {
  color: #000;
  background: #e4e7ff;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.filters button:hover {
  background: #2e5bff;
  color: white;
}

/* SECTION TITLE */
.section-title {
  padding-left: 25px;
  margin-top: 10px;
  font-size: 20px;
}

/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 25px;
}

/* CARD */
.card {
  background: var(--card-bg);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 260px;          /* fixed height */
  object-fit: cover;     /* MAGIC LINE */
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card h4 {
  margin: 10px;
  font-size: 18px;
}

.card p {
  margin: 10px;
  font-size: 15px;
  color: var(--muted);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}


.rent-btn {
  margin: 10px;
  background: #2e5bff;
  color: white;
  padding: 10px;
  border: none;
  width: 90%;
  border-radius: 6px;
  cursor: pointer;
}

.rent-btn:hover {
  background: #1d3fd1;
}
.text-hero {
  background: #f8fafc;
  padding: 10px 5px 10px;
  text-align: center;
}

.text-hero h1 {
  font-size: 40px;
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 15px;
}

.text-hero p {
  max-width: 700px;
  margin: 0 auto 25px;
  font-size: 23px;
  color: #475569;
  line-height: 1.6;
}
:root {
  --bg: #f5f7fb;
  --card-bg: #ffffff;
  --text: #0f172a;
  --muted: #64748b;
  --primary: #2563eb;
}
body.dark {
  --bg: #0f172a;
  --card-bg: #1e293b;
  --text: #f8fafc;
  --muted: #94a3b8;
  --primary: #38bdf8;
}
.theme-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


