body {
    margin: 0;
    font-family: Arial;
    background: #f2f4ff;
}

.rent-container {
    display: flex;
    padding: 40px;
    gap: 30px;
}

.image-box img {
    width: 420px;
    height: 560px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.2);
}

.details-box {
    width: 55%;
}

.details-box label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

.details-box input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    margin-top: 5px;
}

.price, .deposit, .total {
    font-size: 20px;
    margin-top: 10px;
}

.green {
    color: green;
    font-weight: bold;
}

.payable {
    font-size: 26px;
    margin-top: 25px;
}

.rent-btn {
    padding: 15px 25px;
    margin-top: 25px;
    background: #0057ff;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.rent-btn:hover {
    background: #0041c9;
}
